
// Colors
$color-primary-dark-blue: #254ab4;
$color-primary-blue: #1f73d7;
$light-blue: #E6F3FE;
$color-green:#3bb83b;
$color-red:#FF0037;
$color-primary-light: #7ed56f;  
$color-primary-dark: #28b485;
$color-dark-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-light-blue: #F8FBFE;
$color-grey:#52494A;

$color-primary: #13196D;


// GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;