.border_box {
    position: relative;
    padding: 1rem;
    margin-bottom: 30px;
    max-width: 100%;
    width: 30rem;
    margin-top: 5rem;
}
.border_box_background {
    position: absolute;
    top: -3rem;
    left: -4rem;
    right: 0;
}